.diamond-text {
  background: linear-gradient(135deg, #535edb, #dfefff, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

body {
  --bg: rgba(102, 126, 235, 0.422);
  --text: #000000;
}

body.dark {
  --bg: #090916;
  --text: #e0e0e0;
}

.light {
  background-color: rgba(102, 126, 235, 0.422);;
}

@keyframes slideIn {
  from { transform: translateX(-300px); opacity: 0;}
  to { transform: translateX(0); opacity: 1;}
}

.slide-in{
  animation: slideIn 0.8s ease-out;
}